@model PayDaySample01.Domain.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PicturePath)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.PicturePath))
            {
                <img src="@Url.Content(Model.PicturePath)" alt="Image" style="width:300px;height:150px;max-width: 100%; height: auto;" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasChildren)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EmployeeId }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
</p>
